.blue_header{
	width: 100%;
	background: rgb(0, 85, 230) none repeat scroll 0% 0%;
	position: fixed;
	z-index: 5;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
	li{
		margin-bottom: 0;
		input{
			margin: 0px;
			width: 160px;
		}
	}
	.logo{
		color: #fff;
	}
}
.sidebar_nav{
	margin-top: 75px;
	border-right: 1px solid rgb(204, 204, 204);
	height: 100%;
	position: fixed;
	z-index: 3;
	background:#fff;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
	ul{
		list-style: none;
	}
	a{
		padding: 12px 45px;
		display: block;
	}
	li{
		position: relative;
		border-bottom: 1px solid #3968f0;
		margin: 0;
		transition: all .2s ease-in-out;
		&:hover{
			box-shadow: 0px 0px 7px rgb(15, 51, 140);
		}
	}
	img{
		position: absolute;
		left: 9px;
		top: 25%;
	}
}
.content_title{
		margin-top: 24px;
	}
.content_view{
	position: absolute;
	left: 17%;
	margin-left: 0;
	z-index: 1;
	margin-top: 75px;
}
.class_list{
	table{
		width: 60%;
		margin-top: 15px;
		th{		
			padding-left: 13px;
			color: #fff;
			width: 50%;
			font-size: 1.1rem;
			border-bottom: 0;
		}
		.th_col1{
			background: #01cb14;
			border-top-left-radius: 10px;
			position: relative;
			img{
				position: absolute;
				right: 18px;
			}
		}
		.th_col2{
			background: #00c0ff;
			border-top-right-radius: 10px;
			position: relative;
			img{
				position: absolute;
				right: 18px;
			}
		}
		tbody tr:nth-child(even){
			background-color: #f6f6f6;
		}
		td{
			padding-left: 13px;
			text-transform: uppercase;
			position: relative
		}
		.student_count, 
		.student_grade{
			position: absolute;
			right: 18px;
		}
		a:hover{
			text-decoration: underline;
		}
	}
}
.content_view_tabs{
	list-style: 0;
	margin: 0;
	margin-left: 12px;
	li{
		margin: 0;
		display: inline-block;
		background-color: #89bafc;
		padding: 6px 53px;
		border-radius: 10px 10px 0px 0px;
		color: #89bafc;
		font-size: 1.4rem;
		font-weight: bold;
		cursor: pointer;
		margin-right: 10px;
		transition: all .2s ease-in-out;
	}
	li.active{
		background-color: #3b8dfd;
		color: #fff;
	}
	li:hover{
		background-color: #3b8dfd;
		color: #fff;
	}
}
.tab{
	width: 90%;
	background: rgb(255, 255, 255);
	box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.3);
	padding: 0px 25px;
	border-top: 1px solid rgba(165, 165, 165, 0.3);
	overflow-x: scroll;
	border-radius: 8px;
	table{
		width: 100%;
	}
	thead{
		color:#fff;

	}
	h3{
		text-transform: uppercase;
		margin-top: 20px;
	}
	th:first-child{
		padding-right: 150px;
	}
	th:first-child,
	td:first-child{
		border-top-left-radius: 10px;
		padding-left: 10px;
	}
	th:last-child,
	td:last-child{
		border-top-right-radius: 10px;
		padding-right: 10px;
	}
	th{
		background-color: rgb(52, 128, 223);
	}
	th:nth-child(n + 2),
	td:nth-child(n + 2){
		text-align: center;
	}
	tr:nth-child(even){
		background-color: #f6f6f6;
	}
}
.student_list_tab{
	padding: 20px;
}
.margin_top{
	margin-top: 15px;
}
.breadcrumb{
	margin: 0px;
	margin-top: 8px;
	li.active{
		background-color: rgb(11, 159, 149);
		border-radius: 0px 25px 25px 0px;
		
		a{
			color: rgb(255, 255, 255);
		}
	}
	li{
		list-style: none;
		margin: 0;
		display: inline-block;
		font-size: .8rem;
		padding: 4px 10px;
	}
}
.btn_2{
	display: inline-block;
	background-color: rgb(0, 228, 255);
	color: rgb(255, 255, 255);
	padding: 4px 9px;
	border-radius: 3px;
	font-weight: bold;
	cursor: pointer;
}
.total_days{
	margin-left: 15px;
}
.clr_drop{
		color: #f00;
}
.clr_warning{
	color: #ffa200;
}
.clr_good{
	color: rgb(29, 29, 29);
}
.color_guide{
	float: right;
	span{
		margin-left: 20px;
	}
	.clr_black{
		display: inline-block;
		width: 18px;
		height: 18px;
		background-color: rgb(29, 29, 29);
		border-radius: 50%;
		margin-right: 4px;
		vertical-align: sub;
		margin-left: 0;
	}
	.clr_yellow{
		display: inline-block;
		width: 18px;
		height: 18px;
		background-color: #ffa200;
		border-radius: 50%;
		margin-right: 4px;
		vertical-align: sub;
		margin-left: 0;
	}
	.clr_drop{
		display: inline-block;
		width: 18px;
		height: 18px;
		background-color: #f00;
		border-radius: 50%;
		margin-right: 4px;
		vertical-align: sub;
		margin-left: 0;
	}
}
.student_tab{
	img{
		vertical-align: bottom;
	}
}
.title_border,
{
	border-bottom: 2px solid rgb(0, 85, 230);
text-transform: uppercase;
margin-bottom: 25px;
}
.input_group{
	line-height: 38px;
	span:last-child{
		font-size: 13px;
		color: rgb(99, 99, 99);
	}
	input{
		width: 80%;
	}
}
.find_class{
	background-color: #f5f5f5;
	padding: 18px 0 201px;
	text-align: center;
	margin-top: 15px;
	border-radius: 8px;
	p{
		margin-left: -118px;
		margin-bottom: 6px;
		color: rgb(108, 108, 108);
	}
	input{
		width: 270px;
margin-right: 10px;
	}
	img{
		vertical-align: middle;
	}
}