.blue_header{
    width: 100%;
    background: rgb(0, 85, 230) none repeat scroll 0% 0%;
    position: fixed;
    z-index: 5;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    li{
        margin-bottom: 0;
        input{
            margin: 0px;
            width: 160px;
        }
    }
    .logo{
        color: #fff;
    }
}
.sidebar_nav{
    margin-top: 75px;
    border-right: 1px solid rgb(204, 204, 204);
    height: 100%;
    position: fixed;
    z-index: 3;
    background:#fff;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
    ul{
        list-style: none;
    }
    a{
        padding: 12px 45px;
        display: block;
    }
    li{
        position: relative;
        border-bottom: 1px solid #3968f0;
        margin: 0;
        transition: all .2s ease-in-out;
        &:hover{
            box-shadow: 0px 0px 7px rgb(15, 51, 140);
        }
    }
    img{
        position: absolute;
        left: 9px;
        top: 25%;
    }
}
.content_title{
        margin-top: 24px;
    }
.content_view{
    position: absolute;
    left: 16%;
    margin-left: 0;
    z-index: 1;
    margin-top: 95px;
    background-color: rgb(255, 255, 255);
padding: 12px;
box-shadow: 0px 12px 13px rgba(0, 0, 0, 0.3);
border-radius: 4px;
}
.class_list{

    table{
        width: 60%;
        margin-top: 15px;
        th{     
            padding-left: 13px;
            color: #fff;
            font-size: 1.1rem;
            border-bottom: 0;
        }
        .th_col1{
            background: #01cb14;
            border-top-left-radius: 10px;
            position: relative;
            img{
                position: absolute;
                right: 18px;
            }
        }
        .th_col2{
            background: #00c0ff;
            border-top-right-radius: 10px;
            position: relative;
            img{
                position: absolute;
                right: 18px;
            }
        }
        tbody tr:nth-child(even){
            background-color: #f6f6f6;
        }
        td{
            padding-left: 13px;
            text-transform: uppercase;
            position: relative
        }
        .student_count, 
        .student_grade{
            position: absolute;
            right: 18px;
        }
        a:hover{
            text-decoration: underline;
        }
    }
}
.content_view_tabs{
    list-style: 0;
    margin: 0;
    margin-left: 12px;

    li{
        margin: 0;
        display: inline-block;
        background-color: #89bafc;
        padding: 6px 53px;
        border-radius: 10px 10px 0px 0px;
        color: #89bafc;
        font-size: 1.4rem;
        font-weight: bold;
        cursor: pointer;
        margin-right: 10px;
        transition: all .2s ease-in-out;
    }
    li.active{
        background-color: #3b8dfd;
        color: #fff;
    }
    li:hover{
        background-color: #3b8dfd;
        color: #fff;
    }
}
.tab{
    width: 90%;
    background: rgb(255, 255, 255);
    padding: 0px 25px;
    border: 1px solid rgba(165,165,165,0.3);
    overflow-x: scroll;
    border-radius: 8px;
    table{
        width: 100%;
    }
    thead{
        color:#fff;

    }
    h3{
        text-transform: uppercase;
        margin-top: 20px;
    }
    th:first-child{
        padding-right: 150px;
    }
    th:first-child,
    td:first-child{
        border-top-left-radius: 10px;
        padding-left: 10px;
    }
    th:last-child,
    td:last-child{
        border-top-right-radius: 10px;
        padding-right: 10px;
    }
    th{
        background-color: rgb(52, 128, 223);
    }
    th:nth-child(n + 2),
    td:nth-child(n + 2){
        text-align: center;
    }
    tr:nth-child(even){
        background-color: #f6f6f6;
    }
}
.student_list_tab{
    padding: 20px;
}
.margin_top{
    margin-top: 15px;
}
.breadcrumb{
    margin: 0px;
    margin-top: 8px;
    li.active{
        background-color: rgb(11, 159, 149);
        border-radius: 0px 25px 25px 0px;
        
        a{
            color: rgb(255, 255, 255);
        }
    }
    li{
        list-style: none;
        margin: 0;
        display: inline-block;
        font-size: .8rem;
        padding: 4px 10px;
    }
}
.btn_2{
    display: inline-block;
    background-color: rgb(0, 228, 255);
    color: rgb(255, 255, 255);
    padding: 4px 9px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}
.total_days{
    margin-left: 15px;
}
.clr_drop{
        color: #f00;
}
.clr_warning{
    color: #ffa200;
}
.clr_good{
    color: rgb(29, 29, 29);
}
.color_guide{
    float: right;
    span{
        margin-left: 20px;
    }
    .clr_black{
        display: inline-block;
        width: 18px;
        height: 18px;
        background-color: rgb(29, 29, 29);
        border-radius: 50%;
        margin-right: 4px;
        vertical-align: sub;
        margin-left: 0;
    }
    .clr_yellow{
        display: inline-block;
        width: 18px;
        height: 18px;
        background-color: #ffa200;
        border-radius: 50%;
        margin-right: 4px;
        vertical-align: sub;
        margin-left: 0;
    }
    .clr_drop{
        display: inline-block;
        width: 18px;
        height: 18px;
        background-color: #f00;
        border-radius: 50%;
        margin-right: 4px;
        vertical-align: sub;
        margin-left: 0;
    }
}
.student_tab{
    img{
        vertical-align: bottom;
    }
}
.title_border,
{
    border-bottom: 2px solid rgb(0, 85, 230);
text-transform: uppercase;
margin-bottom: 25px;
}
.input_group{
    line-height: 38px;
    span:last-child{
        font-size: 13px;
        color: rgb(99, 99, 99);
    }
    input{
        width: 80%;
    }
}
.find_class{
    background-color: #f5f5f5;
    padding: 18px 0 201px;
    text-align: center;
    margin-top: 15px;
    border-radius: 8px;
    p{
        margin-left: -118px;
        margin-bottom: 6px;
        color: rgb(108, 108, 108);
    }
    input{
        width: 270px;
margin-right: 10px;
    }
    img{
        vertical-align: middle;
    }
}
.overlay{
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 5;
    input{
        font-size: 22px;
    }
    h3{
        margin: 0px;
        background-color: rgb(101, 101, 101);
        color: rgb(255, 255, 255);
        padding: 4px;
        border-radius: 3px;
        font-size: 18px;
    }
    form{
        margin: 0;
    }
    .btn_green{
        float: right;
        background-color: #01cb14;
        color: rgb(255, 255, 255);
        border: 0px none;
        font-size: 16px;
    }
    .create_class{
        background-color: #fff;
        box-shadow: 0px 9px 10px rgb(158, 158, 158);
        padding: 10px 18px;
        border-radius: 8px;
        width: 50%;
        margin: 0 auto;
        margin-top: 75px;
    }
}
.btn_hover:hover{
    box-shadow: 5px 5px 3px rgba(134, 134, 134, 0.3);
    transition: all 0.2s linear 0s;
}
.btn_cancel{
    float: right;
padding: 7px;
text-decoration: underline;
font-size: 14px;
margin-right: 4px;
}
.pull-right{
    float: right;
}
.client_bg{
    background: #f8f8f8;
}
.search_input{
    position: relative;
    button{
        position: absolute;
        left: 0px;
        top: 0px;
        margin-top: 42px;
        color: rgb(255, 255, 255);
        background-color: rgb(0, 192, 255);
        border: 0px none;
        display: none;
    }
    button:hover{
        display: block;
    }
    input:focus{
        & ~button{
            display: block;
        }
    }
}
.teacher_classInfo{
    overflow: unset;
    li span{
        font-weight: bold;
        font-size: 18px;
        margin-right: 5px;
    }
    li{
        margin-bottom: 1rem;
        display: inline-block;
        margin-right: 32px;
    }
    .btn_2{
        margin-bottom: 18px;
        float: right;
    }
}
.errMsg2{
    background-color: rgb(255, 0, 0);
color: rgb(255, 255, 255);
padding: 7px 15px;
font-weight: bold;
text-transform: uppercase;
}
.today_attendance{
    position: fixed;
background-color: rgba(0, 0, 0, 0.3);
top: 0px;
bottom: 0px;
right: 0px;
left: 0px;
width: 100%;
height: 100%;
z-index: 5;
    input{
        margin-right: 15px;
        margin-bottom: 8px;
    }
    li{
        font-size: 1.6rem;
        margin: 0;
    }
    ul{
        list-style: none;
 
    }
    .today_attendance_inner{
        position: relative;
        z-index: 5;
        width: 30%;
        background-color: rgb(255, 255, 255);
        margin: 128px auto 0px;
        border-radius: 6px;
        padding: 10px;
        label{
            position: relative;
            border-bottom: 1px solid rgb(201, 201, 201);
        }
        input{
            position: absolute;
            bottom: 0px;
            right: 0px;
        }
        input:nth-child(1){
            right: 91px;
        }
        input:nth-child(2){
            right: 26px;
        }
    }
}
.attendance_check{
    
    text-align: right;
    span{
       font-size: 14px;
       &:first-child{
        margin-right: 10px;
       } 
    }
}
.attendance_header{
    th{
        cursor: pointer;
        a{
            color:#fff;
            display: block;
        }
    }
}
.sub_view_modal{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub_view_modal_inner{
   
    input{
        width: 305px;
        text-align: center;
    }
    .small_input{
        width: 52px;
        text-align: center;
    }
    li{
        position: relative;
        border-bottom: 1px solid rgb(201, 201, 201);
        margin-top: 28px;
    }
    label{
        text-transform: uppercase;     
    }
    .input_quiz{
        width: 20%;
        position: absolute;
        right: 0px;
        top: -44%;
    }
    ul{
        list-style: number;
    }
}
.quiz_total{
    display: inline-block;
vertical-align: super; 
}
.overflow{
    overflow-y: scroll;
    height: 60%;
    border-radius: 5px;
    box-shadow: 11px 13px 6px rgba(0,0,0,0.3);
    background-color: rgb(255, 255, 255);
    padding: 13px 38px;
    box-shadow: 11px 13px 6px rgba(0,0,0,0.3);
}
.quiz_name{
    font-size: 22px;
}
.quiz_total_score{
    float: left;
    margin-right: 12px;
    font-size: 15px;
}