<!DOCTYPE html>
<html lang="en" ng-app="projectRouter">
  <head>
    <title>Online Registration System</title>
  </head>
  <body>
    <header class="header_bg u-cf">
      <div class="container">
        <div class="navigation u-cf"><a href="" class="logo">Online Grading System</a>
          <nav> 
            <ul>
              <li><a href="#about">About</a></li>
              <li><a href="#features">Features</a></li>
              <li><a href="#contact">Contact</a></li>
              <li>
                <toggle-modal class="logIn_btn">Login</toggle-modal>
              </li>
            </ul>
          </nav>
        </div>
        <div class="banner u-cf">
          <h2 class="tagline">Get <span class="banner_textHighlights">Motivated</span> and <span class="banner_textHighlights">Inspired</span> in your <span>Grades</span></h2>
          <h4 class="sub_tagline">Join us in our quest to help you to be motivated and inspired through your efforts in school</h4>
          <toggle-modal><a href="" class="btn_primary">Try It Now</a></toggle-modal>
        </div>
      </div>
    </header>
    <div class="container u-cf">
      <div class="logIn_form modal">
        <form class="logIn">
          <toggle-modal><span class="btn_close">X</span></toggle-modal><span ng-show="logErrMsg" class="errMsg">{{logErrMsg}}</span>
          <label for="username">Username</label>
          <input type="text" ng-model="user.username"/>
          <label for="password">Password</label>
          <input type="password" ng-model="user.password"/>
          <button ng-click="login(user)">sign-in</button>
          <p>does not have account yet <sign-up><a href="">sign-up</a></sign-up> here.</p>
        </form>
        <form class="signUp">
          <toggle-modal><span class="btn_close">X</span></toggle-modal>
          <h4>Sign up</h4><span ng-show="errMsg" class="errMsg">{{errMsg}}</span>
          <div class="input_group">
            <label for="name">You Name</label>
            <input type="text" placeholder="Enter your full name" ng-model="newUser.name"/>
          </div>
          <div class="input_group">
            <label for="Email">Your Email</label>
            <input type="text" placeholder="Enter your email address" ng-model="newUser.email"/>
          </div>
          <div class="input_group">
            <label for="username">Username</label>
            <input type="text" placeholder="Choose username" ng-model="newUser.username"/>
          </div>
          <div class="input_group">
            <label for="password">Password</label>
            <input type="password" placeholder="Choose a password" ng-model="newUser.password"/>
          </div>
          <div class="input_group">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" placeholder="Re-enter your password above" ng-model="newUser.confirmPassword"/>
          </div>
          <div class="input_group">
            <label for="">Type</label>
            <label for="student" class="type_label">
              <input type="checkbox" name="student" id="student" ng-model="newUser.role" checked="checked" ng-true-value="'student'"/> Student
            </label>
            <label for="teacher" class="type_label">
              <input type="checkbox" name="teacher" id="teacher" ng-model="newUser.role" ng-true-value="'teacher'"/> Teacher     
            </label>
          </div>
          <button ng-click="newUsers(newUser)">Create my Accout</button>
        </form>
      </div>
      <section class="about">
        <h3>About</h3>
        <p>Online Grading System your tool to help you calculate your grades and see your classes or subjects performance.Its design to help you updated in your grades through smart phones,tablet or in your desktop. Online Grading System not only keep you updated and work in your grades but also help you organise your work at school.</p>
      </section>
      <section class="features">
        <h3>Features</h3>
        <p>We make sure that we connect you and your grades in every school hours or even at summer. We worked and search for what's the best for our application to become user-friendly for you. We will help you to improve your grades, inspire you, motivate you and not let you down.</p>
        <ul class="u-cf">
          <li class="four columns"><img src="/img/feature_1.png" alt="See your Grades in all Devices"/>
            <div class="feature_title">See your Grades in all Devices</div>
            <div class="feature_text">We make sure that you can see all your grades and performance in all screen devices</div>
          </li>
          <li class="four columns"><img src="/img/feature_2.png" alt="Helps you to Track your Grades"/>
            <div class="feature_title">Helps you to Track your Grades</div>
            <div class="feature_text">Keep on track of your grades to be aware of your performance at school</div>
          </li>
          <li class="four columns"><img src="/img/feature_3.png" alt="Calculate your Grades"/>
            <div class="feature_title">Calculate your Grades</div>
            <div class="feature_text">The easiest way to automate your grades and save your time</div>
          </li>
        </ul>
      </section>
      <section class="contact_us">
        <h3>Contact Us</h3>
        <p class="contact_us_text">If you have any suggestion or problem your welcome to contact us. We would be happy if you have any idea on how to improve our services. We will make sure you have the right service you need on what our Online Grading System can do.</p>
        <div class="row">
          <form class="five columns">
            <div class="form_guide">* <span class="small">
                <please>Please fill this input before you submit</please></span></div>
            <div class="input_field">
              <label for="name">Full Name *</label>
              <input type="text" placeholder="Ex.Juan Dela Cruz"/>
            </div>
            <div class="input_field">
              <label for="email">Email *</label>
              <input type="email" placeholder="Ex.yourEmail@sample.com"/>
            </div>
            <div class="input_field">
              <label for="feedbacks">Message</label>
              <textarea name="" cols="30" rows="10" placeholder="type your message here..."></textarea>
            </div>
            <div class="btn_primary">Submit</div>
          </form>
          <video src="/video/shutterstock_v6762934.webm" autoplay="autoplay" loop="loop" class="seven columns"></video>
        </div>
      </section>
      <section class="sub_banner">
        <h2 class="tagline">The only way to do great work is to <span class="banner_textHighlights">love what you do<span></h2>
        <div class="btn_primary">Try It Now</div>
      </section>
    </div>
    <footer class="u-cf">
      <div class="footer_content container"><span>Copyright © 2016 Online Registration System</span>
        <ul>
          <li><a href="" target="target"><img src="/img/twitter_icon.png" alt="Twitter Icon"/></a></li>
          <li><a href="" target="target"><img src="/img/fb_icon.png" alt="Fb Icon"/></a></li>
          <li><a href="" target="target"><img src="/img/youtube_icon.png" alt="Youtube Icon"/></a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>