<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Student Name</title>
  </head>
  <body>
    <header class="blue_header u-cf">
      <div class="container">
        <div ng-controller="navCtrl" class="navigation u-cf"><a href="#/" class="logo">Online Grading System</a>
          <nav> 
            <ul>
              <li class="search_input">
                <input type="text" ng-model="classId"/>
                <button ng-click="searchClassId(classId)">Search now</button>
              </li>
              <li><a href="" ng-click="studentClassList()">Classes</a></li>
              <li><a href="" ng-click="studentAccount()">Account</a></li>
              <li><a href="" ng-click="logOut()">Log-out</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="row">
      <div class="sidebar_nav two columns">
        <ul>
          <li><a href="" ng-click="studentClassList()">Active<img src="/img/icn_active.png" alt=""/></a></li>
          <li><a href="">Archive<img src="/img/icn_archive.png" alt=""/></a></li>
          <li><a href="">Settings<img src="/img/icn_quiz.png" alt=""/></a></li>
        </ul>
      </div>
      <div class="class_list ten columns content_view">
        <div ng-show="studentClasses" class="user_view">
          <h2 class="content_title">Your Classes</h2>
          <table>
            <thead>
              <tr>
                <th class="th_col1">Class </th>
                <th class="th_col2">Teacher <img src="/img/icn_grade.png"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="sClass in studentClass">
                <td><img src="/img/icn_book.png"> <a href="" ng-click="viewSummary(sClass)">{{sClass.class_name}}</a></td>
                <td> <a href="">{{sClass.teacher_name}} <a href="" class="student_grade">95%</a></a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div ng-show="classSummary" class="user_view">
          <ul class="breadcrumb">
            <li><a href="" ng-click="studentClassList()">Your Class List</a></li>
            <li class="active"><a href="">{{cInfo.class_name}}</a></li>
          </ul>
          <h2 class="content_title">{{cInfo.class_name}}</h2>
          <div class="tab">
            <h4>Class Summary</h4>
            <table>
              <thead>
                <tr>
                  <th>Grading Period</th>
                  <th>Assignments 
                    <div>({{cInfo.assignments}} %)</div>
                  </th>
                  <th>Attendance 
                    <div>({{cInfo.attendance}} %)</div>
                  </th>
                  <th>Laboratory
                    <div>({{cInfo.laboratory}} %)</div>
                  </th>
                  <th>Quiz
                    <div>({{cInfo.quiz}} %)</div>
                  </th>
                  <th>Exam
                    <div>({{cInfo.exam}} %)</div>
                  </th>
                  <th>Grade</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Prelim</td>
                  <td> <a href="">20%</a></td>
                  <td> <a href="">10%</a></td>
                  <td> <a href="" ng-click="showGradingReport()">30%</a></td>
                  <td> <a href="">10%</a></td>
                  <td> <a href="">10%</a></td>
                  <td>89%</td>
                </tr>
                <tr>
                  <td>Midterm</td>
                  <td> <a href="">20%</a></td>
                  <td> <a href="">10%</a></td>
                  <td> <a href="" ng-click="showGradingReport()">30%</a></td>
                  <td> <a href="">10%</a></td>
                  <td> <a href="">10%</a></td>
                  <td>85%</td>
                </tr>
                <tr>
                  <td>Final</td>
                  <td> <a href="">20%</a></td>
                  <td> <a href="">10%</a></td>
                  <td> <a href="" ng-click="showGradingReport()">30%</a></td>
                  <td> <a href="">10%</a></td>
                  <td> <a href="">10%</a></td>
                  <td>78%</td>
                </tr>
                <tr>
                  <td>Total Grade</td>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td>89%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div ng-show="gradingReport" class="user_view">
          <ul class="breadcrumb">
            <li><a href="" ng-click="viewSummary()">Algebra</a></li>
            <li class="active"><a href="">Prelim</a></li>
          </ul>
          <h2 class="content_title">Laboratory</h2>
          <div class="tab">
            <h4>Prelim Report</h4>
            <div class="tab_top_content"><span class="total_days">Total: <span>120</span></span></div>
            <table class="margin_top">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>1-2-12 Monday
                    <div class="activity_name">Lab #1</div>
                  </th>
                  <th>1-2-13 Thuesday
                    <div class="activity_name">Lab #2</div>
                  </th>
                  <th>1-2-14 Wednesday
                    <div class="activity_name">Lab #3</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Wizardz ( 24 )</td>
                  <td>15/15</td>
                  <td>17/20</td>
                  <td>15/15</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div ng-show="searchClass" class="user_view"><span ng-show="noClassMgs" class="errMsg2">{{noClassMgs}}</span>
          <h2 class="content_title">{{classInfo.class_name}}</h2>
          <div class="tab teacher_classInfo u-cf">
            <h4 class="title_border">Class Info</h4>
            <ul>
              <li><span>Instructor:</span> {{classInfo.teacher_name}}</li>
              <li><span>Instructor Id:</span> {{classInfo.teacher_id}}</li>
              <li><span>Class name:</span> {{classInfo.class_name}}</li>
              <li><span>Class Id:</span> {{classInfo.class_id}}</li>
              <li><span>Year:</span> {{classInfo.year}}</li>
            </ul>
            <h4 class="title_border">Criteria</h4>
            <ul>
              <li><span>Attendance :</span> {{classInfo.criteria.attendance}} %</li>
              <li><span>Quiz :</span> {{classInfo.criteria.quiz}} %</li>
              <li><span>Laboratory:</span> {{classInfo.criteria.laboratory}} %</li>
              <li><span>Assignments :</span> {{classInfo.criteria.assignments}} %</li>
              <li><span>Exam :</span> {{classInfo.criteria.exam}} %</li>
            </ul>
            <div ng-click="studentGetClass(classInfo)" class="btn_2">Join now</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>