<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Teacher Name</title>
  </head>
  <body>
    <header class="blue_header u-cf">
      <div class="container">
        <div class="navigation u-cf"><a href="#/" class="logo">Online Grading System</a>
          <nav> 
            <ul>
              <li><a href="#about">Classes</a></li>
              <li><a href="#features">Account</a></li>
              <li><a href="#contact">Log-out</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="row">
      <div class="sidebar_nav two columns">
        <ul>
          <li><a href="">Attendance<img src="/img/icn_att.png" alt=""/></a></li>
          <li><a href="">Students<img src="/img/icn_students.png" alt=""/></a></li>
          <li><a href="">Quiz<img src="/img/icn_quiz.png" alt=""/></a></li>
          <li><a href="">Assignments<img src="/img/icn_assign.png" alt=""/></a></li>
          <li><a href="">Laboratory<img src="/img/icn_lab.png" alt=""/></a></li>
          <li><a href="">Exam<img src="/img/icn_exam.png" alt=""/></a></li>
          <li><a href="">Settings<img src="/img/icn_settings.png" alt=""/></a></li>
        </ul>
      </div>
      <!--Class list view-->
      <!--.class_list.ten.columns.content_view
      h2.content_title Your Classes
      table
          thead
              tr
                  th.th_col1 Class <img src="/img/icn_student_count.png">
                  th.th_col2 Class Code
          tbody
              tr
                  td <img src="/img/icn_book.png"> <a href="">Algebra</a> <a href="" class="student_count">2</a>
                  td 2-3-16-aa
              tr
                  td <img src="/img/icn_book.png"> <a href="">Science</a> <a href="" class="student_count">3</a>
                  td 2-4-12ab
              tr
                  td <img src="/img/icn_book.png"> <a href="">SOFTWEN</a> <a href="" class="student_count">5</a>
                  td 3-2-19ac2 
              tr
                  td <img src="/img/icn_book.png"> <a href="">ADDPROG</a> <a href="" class="student_count">10</a>
                  td 2-2-13aD 
      -->
      <div class="content ten columns content_view">
        <!--class view   
        ul.breadcrumb
            li
                a(href="") Class Name 
        h2.content_title Class Name
        ul.content_view_tabs
            li.active 1
            li 2
            li 3
            li 4
        .tab.u-cf
            h3 Grade
            table
                thead
                    tr
                        th Name
                        th Quiz
                        th Attendance
                        th Laboratory
                        th Exam
                        th Grade
                tbody
                    tr
                        td Wizardz
                        td 3%
                        td 20%
                        td 35%
                        td 32%
                        td 44%
                    tr
                        td Xfol
                        td 3%
                        td 20%
                        td 35%
                        td 32%
                        td 44%
                    tr
                        td Nitsuj
                        td 3%
                        td 20%
                        td 35%
                        td 32%
                        td 44%
                    tr
                        td Loda
                        td 3%
                        td 20%
                        td 35%
                        td 32%
                        td 44%
        -->
        <!--Attendance View 
        ul.breadcrumb
            li
                a(href="") Class Name
            li.active
                a(href="") Attendance
        
        h2.content_title Attendance
        ul.content_view_tabs
            li.active 1
            li 2
            li 3
            li 4
        .tab
            h4 date here
            .tab_top_content
                .btn_2 Add Column
                span.total_days Total: <span>5</span>
                .color_guide
                    span
                        span.clr_black 
                        | Good
                    span
                        span.clr_yellow 
                        | Warning
                    span
                        span.clr_drop 
                        | Drop
            table.margin_top
                thead
                    tr
                        th Name
                        th 1-2-12 Monday
                        th 1-2-13 Thuesday
                        th 1-2-14 Wednesday
                        th 1-2-15 Thursday
                        th 1-2-16 Friday
                        th 1-2-16 Friday
                        th 1-2-16 Friday
                        th 1-2-16 Friday
                        th 1-2-16 Friday
                        th 1-2-16 Friday
                        th Total
                tbody
                    tr
                        td Wizardz ( 3 )
                        td 0
                        td 1
                        td 1
                        td 0
                        td 1
                        td 1
                        td 1
                        td 1
                        td 1
                        td 1
                        td 15
                    tr
                        td Xfol ( 4 )
                        td 0
                        td 1
                        td 1
                        td 0
                        td 1
                        td 1
                        td 1
                        td 1
                        td 1
                        td 1
                        td 15
                    tr
                        td Nitsuj ( 5 )
                        td 0
                        td 1
                        td 1
                        td 0
                        td 1
                        td 1
                        td 1
                        td 1
                        td 1
                        td 1
                        td 15
                    tr
                        td Loda ( 6 )
                        td 0
                        td 1
                        td 1
                        td 0
                        td 1
                        td 1
                        td 1
                        td 1
                        td 1
                        td 1
                        td 15
        -->
        <ul class="breadcrumb">
          <li><a href="">Class Name</a></li>
          <li class="active"><a href="">Students</a></li>
        </ul>
        <h2 class="content_title">Student List</h2>
        <div class="tab student_tab">
          <h4>Algebra / 2-3-16aa</h4>
          <table class="margin_top">
            <thead>
              <tr>
                <th>Name</th>
                <th>ID</th>
                <th> <a href=""><img src="/img/png_settings.png" alt=""/></a></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Wizardz ( 3 )</td>
                <td>12321</td>
                <td> <a href=""><img src="/img/png_settings.png" alt=""/></a></td>
              </tr>
              <tr>
                <td>Xfol ( 4 )</td>
                <td>13123</td>
                <td> <a href=""><img src="/img/png_settings.png" alt=""/></a></td>
              </tr>
              <tr>
                <td>Nitsuj ( 5 )</td>
                <td>123213</td>
                <td> <a href=""><img src="/img/png_settings.png" alt=""/></a></td>
              </tr>
              <tr>
                <td>Loda ( 6 )</td>
                <td>123213</td>
                <td> <a href=""><img src="/img/png_settings.png" alt=""/></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>