<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fuck Yeah</title>
  </head>
  <body>
    <header class="blue_header u-cf">
      <div class="container">
        <div class="navigation u-cf"><a href="#/" class="logo">Online Grading System</a>
          <nav> 
            <ul>
              <li><a href="#about">Classes</a></li>
              <li><a href="#features">Account</a></li>
              <li><a href="#contact">Log-out</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="row">
      <div class="sidebar_nav two columns">
        <ul>
          <li><a href="">Attendance<img src="/img/icn_att.png" alt=""/></a></li>
          <li><a href="">Students<img src="/img/icn_students.png" alt=""/></a></li>
          <li><a href="">Quiz<img src="/img/icn_quiz.png" alt=""/></a></li>
          <li><a href="">Assignments<img src="/img/icn_assign.png" alt=""/></a></li>
          <li><a href="">Laboratory<img src="/img/icn_lab.png" alt=""/></a></li>
          <li><a href="">Exam<img src="/img/icn_exam.png" alt=""/></a></li>
          <li><a href="">Settings<img src="/img/icn_settings.png" alt=""/></a></li>
        </ul>
      </div>
      <div class="system_content ten columns">
        <h2 class="system_content_title">Your Classes</h2>
        <table>
          <thead>
            <tr>
              <th class="th_col1">Class <img src="/img/icn_student_count.png"></th>
              <th class="th_col2">Class Code</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img src="/img/icn_book.png"> <a href="">Algebra</a> <a href="" class="student_count">2</a></td>
              <td>2-3-16-aa</td>
            </tr>
            <tr>
              <td><img src="/img/icn_book.png"> <a href="">Science</a> <a href="" class="student_count">3</a></td>
              <td>2-4-12ab</td>
            </tr>
            <tr>
              <td><img src="/img/icn_book.png"> <a href="">SOFTWEN</a> <a href="" class="student_count">5</a></td>
              <td>3-2-19ac2 </td>
            </tr>
            <tr>
              <td><img src="/img/icn_book.png"> <a href="">ADDPROG</a> <a href="" class="student_count">10</a></td>
              <td>2-2-13aD </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>