<!DOCTYPE html>
html(lang="en" ng-app="projectRouter")
    head
        title Online Registration System
    body
        header.header_bg.u-cf
            .container
                .navigation.u-cf
                    a(href="").logo Online Grading System
                    nav 
                        ul
                            li
                                a(href="#about") About
                            li
                                a(href="#features") Features
                            li
                                a(href="#contact") Contact
                            li
                                toggle-modal.logIn_btn Login
                .banner.u-cf
                    h2.tagline Get <span class="banner_textHighlights">Motivated</span> and <span class="banner_textHighlights">Inspired</span> in your <span>Grades</span>
                    h4.sub_tagline Join us in our quest to help you to be motivated and inspired through your efforts in school
                    toggle-modal
                        a(href="").btn_primary Try It Now
        .container.u-cf
            .logIn_form.modal
                form.logIn
                    toggle-modal
                        span.btn_close X
                    span.errMsg(ng-show="logErrMsg") {{logErrMsg}}
                    label(for="username") Username
                    input(type="text" ng-model="user.username")
                    label(for="password") Password
                    input(type="password" ng-model="user.password")
                    button(ng-click="login(user)") sign-in
                    p does not have account yet <sign-up><a href="">sign-up</a></sign-up> here.
                form.signUp
                    toggle-modal
                        span.btn_close X
                    h4 Sign up
                    span.errMsg(ng-show="errMsg") {{errMsg}}
                    .input_group
                        label(for="name") You Name
                        input(type="text" placeholder="Enter your full name" ng-model="newUser.name")
                    .input_group
                        label(for="Email") Your Email
                        input(type="text" placeholder="Enter your email address" ng-model="newUser.email")
                    .input_group
                        label(for="username") Username
                        input(type="text" placeholder="Choose username" ng-model="newUser.username")
                    .input_group
                        label(for="password") Password
                        input(type="password" placeholder="Choose a password" ng-model="newUser.password")
                    .input_group
                        label(for="confirm_password") Confirm Password
                        input(type="password" placeholder="Re-enter your password above" ng-model="newUser.confirmPassword")
                    .input_group
                        label(for="") Type
                        label(for="student").type_label
                            input(type="checkbox" name="student" id="student" ng-model="newUser.role" checked ng-true-value="'student'")
                            |  Student
                        label(for="teacher").type_label
                            input(type="checkbox" name="teacher" id="teacher" ng-model="newUser.role" ng-true-value="'teacher'")
                            |  Teacher     
                    button(ng-click="newUsers(newUser)") Create my Accout
            section.about
                h3 About
                p Online Grading System your tool to help you calculate your grades and see your classes or subjects performance.Its design to help you updated in your grades through smart phones,tablet or in your desktop. Online Grading System not only keep you updated and work in your grades but also help you organise your work at school.
            section.features
                h3 Features
                p We make sure that we connect you and your grades in every school hours or even at summer. We worked and search for what's the best for our application to become user-friendly for you. We will help you to improve your grades, inspire you, motivate you and not let you down.
                ul.u-cf
                    li.four.columns
                        img(src="/img/feature_1.png", alt="See your Grades in all Devices")
                        .feature_title See your Grades in all Devices
                        .feature_text We make sure that you can see all your grades and performance in all screen devices
                    li.four.columns
                        img(src="/img/feature_2.png", alt="Helps you to Track your Grades")
                        .feature_title Helps you to Track your Grades
                        .feature_text Keep on track of your grades to be aware of your performance at school
                    li.four.columns
                        img(src="/img/feature_3.png", alt="Calculate your Grades")
                        .feature_title Calculate your Grades
                        .feature_text The easiest way to automate your grades and save your time
            section.contact_us
                h3 Contact Us
                p.contact_us_text If you have any suggestion or problem your welcome to contact us. We would be happy if you have any idea on how to improve our services. We will make sure you have the right service you need on what our Online Grading System can do.
                .row
                    form.five.columns
                        .form_guide * 
                            span.small
                                please Please fill this input before you submit
                        .input_field
                            label(for="name") Full Name *
                            input(type="text" placeholder="Ex.Juan Dela Cruz")
                        .input_field
                            label(for="email") Email *
                            input(type="email" placeholder="Ex.yourEmail@sample.com") 
                        .input_field
                            label(for="feedbacks") Message
                            textarea(name="", cols="30", rows="10" placeholder="type your message here...")
                        .btn_primary Submit
                    video(src="/video/shutterstock_v6762934.webm" autoplay loop).seven.columns
            section.sub_banner
                 h2.tagline The only way to do great work is to <span class="banner_textHighlights">love what you do<span>
                 .btn_primary Try It Now
        footer.u-cf
            .footer_content.container
                span Copyright © 2016 Online Registration System
                ul
                    li
                        a(href="" target)
                            img(src="/img/twitter_icon.png", alt="Twitter Icon")
                    li
                        a(href="" target)
                            img(src="/img/fb_icon.png", alt="Fb Icon")
                    li
                        a(href="" target)
                            img(src="/img/youtube_icon.png", alt="Youtube Icon")