<!DOCTYPE html>
html(lang="en")
    head
        title Student Name
    body
        header.blue_header.u-cf
            .container
                .navigation.u-cf(ng-controller="navCtrl")
                    a(href="#/").logo Online Grading System
                    nav 
                        ul
                            li.search_input
                                input(type="text" ng-model="classId")
                                button(ng-click="searchClassId(classId)") Search now
                            li
                                a(href="" ng-click="studentClassList()") Classes
                            li
                                a(href="" ng-click="studentAccount()") Account
                            li
                                a(href="" ng-click="logOut()") Log-out
        .row
            .sidebar_nav.two.columns
                ul
                    li
                        a(href="" ng-click="studentClassList()") Active
                            img(src="/img/icn_active.png", alt="")
                    li
                        a(href="" ) Archive
                            img(src="/img/icn_archive.png", alt="")
                    li
                        a(href="" ) Settings
                            img(src="/img/icn_quiz.png", alt="")
            .class_list.ten.columns.content_view
                .user_view(ng-show="studentClasses")
                    h2.content_title Your Classes
                    table
                        thead
                            tr
                                th.th_col1 Class 
                                th.th_col2 Teacher <img src="/img/icn_grade.png">
                        tbody
                            tr(ng-repeat="sClass in studentClass")
                                td <img src="/img/icn_book.png"> <a href="" ng-click="viewSummary(sClass)">{{sClass.class_name}}</a>
                                td 
                                    a(href="") {{sClass.teacher_name}} <a href="" class="student_grade">95%</a>
                .user_view(ng-show="classSummary")
                    ul.breadcrumb
                        li
                            a(href="" ng-click="studentClassList()") Your Class List
                        li.active
                            a(href="" ) {{cInfo.class_name}}
                    h2.content_title {{cInfo.class_name}}
                    .tab
                        h4 Class Summary
                        table
                            thead
                                tr
                                    th Grading Period
                                    th Assignments 
                                        div ({{cInfo.assignments}} %)
                                    th Attendance 
                                        div ({{cInfo.attendance}} %)
                                    th Laboratory
                                        div ({{cInfo.laboratory}} %)
                                    th Quiz
                                        div ({{cInfo.quiz}} %)
                                    th Exam
                                        div ({{cInfo.exam}} %)
                                    th Grade
                            tbody
                                tr
                                    td Prelim
                                    td 
                                        a(href="" ng-click="showGradingReportAssign()") {{studentClassInfo.totalAssignments}} %
                                    td 
                                        a(href="" ng-click="showGradingReportAtt()") {{studentClassInfo.totalAttendance}} %
                                    td 
                                        a(href="" ng-click="showGradingReportLab()") {{studentClassInfo.totalLab}} %
                                    td 
                                        a(href="" ng-click="showGradingReportQuiz()") {{studentClassInfo.totalQuiz}} %
                                    td 
                                        a(href="" ng-click="showGradingReport()") {{studentClassInfo.totalExam}}
                                    td  {{grade(studentClassInfo.totalAssignments, studentClassInfo.totalAttendance, studentClassInfo.totalLab, studentClassInfo.totalQuiz, studentClassInfo.totalExam)}} %
        
                .user_view(ng-show="gradingReport")
                    ul.breadcrumb
                            li
                                a(href="" ng-click="viewSummary2()") Algebra
                            li.active
                                a(href="") Prelim
                    h2.content_title {{class_name}}
                    .tab
                        h4 Prelim Report
                        .tab_top_content
                            //- span.total_days Total: <span>120</span>
                        table.margin_top.attendance_header
                            thead
                                tr
                                    th Name
                                    th(ng-repeat = "actDate in studentClassInfo")
                                        a {{actDate.activity_date}}
                                        a(ng-hide="showAttendance").activity_name {{actDate.activity_name}}

                            tbody
                                tr 
                                    td{{student_name}}
                                    td(ng-repeat = "scores in studentClassInfo")
                                        a {{scores.score}} <span ng-hide="showAttendance">/ {{scores.totalScore}}</span>
                .user_view(ng-show="searchClass")
                    span.errMsg2(ng-show="noClassMgs") {{noClassMgs}}
                    h2.content_title {{classInfo.class_name}}
                    .tab.teacher_classInfo.u-cf
                        h4.title_border Class Info
                        ul
                            li <span>Instructor:</span> {{classInfo.teacher_name}}
                            li <span>Instructor Id:</span> {{classInfo.teacher_id}}
                            li <span>Class name:</span> {{classInfo.class_name}}
                            li <span>Class Id:</span> {{classInfo.class_id}}
                            li <span>Year:</span> {{classInfo.year}}
                        h4.title_border Criteria
                        ul
                            li <span>Attendance :</span> {{classInfo.criteria.attendance}} %
                            li <span>Quiz :</span> {{classInfo.criteria.quiz}} %
                            li <span>Laboratory:</span> {{classInfo.criteria.laboratory}} %
                            li <span>Assignments :</span> {{classInfo.criteria.assignments}} %
                            li <span>Exam :</span> {{classInfo.criteria.exam}} %
                        .btn_2(ng-click="studentGetClass(classInfo)") Join now