<!DOCTYPE html>
html(lang="en")
    head
        title Teacher Name
    body
        header.blue_header.u-cf
            .container
                .navigation.u-cf
                    a(href="#/").logo Online Grading System
                    nav 
                        ul
                            li
                                a(href="#about") Classes
                            li
                                a(href="#features") Account
                            li
                                a(href="#contact") Log-out
        .row
            .sidebar_nav.two.columns
                ul
                    li
                        a(href="") Attendance
                            img(src="/img/icn_att.png", alt="")
                    li
                        a(href="" ) Students
                            img(src="/img/icn_students.png", alt="")
                    li
                        a(href="" ) Quiz
                            img(src="/img/icn_quiz.png", alt="")
                    li
                        a(href="" ) Assignments
                            img(src="/img/icn_assign.png", alt="")
                    li
                        a(href="" ) Laboratory
                            img(src="/img/icn_lab.png", alt="")
                    li
                        a(href="" ) Exam
                            img(src="/img/icn_exam.png", alt="")
                    li
                        a(href="" ) Settings
                            img(src="/img/icn_settings.png", alt="")
            //Class list view
            //.class_list.ten.columns.content_view
                h2.content_title Your Classes
                table
                    thead
                        tr
                            th.th_col1 Class <img src="/img/icn_student_count.png">
                            th.th_col2 Class Code
                    tbody
                        tr
                            td <img src="/img/icn_book.png"> <a href="">Algebra</a> <a href="" class="student_count">2</a>
                            td 2-3-16-aa
                        tr
                            td <img src="/img/icn_book.png"> <a href="">Science</a> <a href="" class="student_count">3</a>
                            td 2-4-12ab
                        tr
                            td <img src="/img/icn_book.png"> <a href="">SOFTWEN</a> <a href="" class="student_count">5</a>
                            td 3-2-19ac2 
                        tr
                            td <img src="/img/icn_book.png"> <a href="">ADDPROG</a> <a href="" class="student_count">10</a>
                            td 2-2-13aD 
            .content.ten.columns.content_view
                //class view   
                    ul.breadcrumb
                        li
                            a(href="") Class Name 
                    h2.content_title Class Name
                    ul.content_view_tabs
                        li.active 1
                        li 2
                        li 3
                        li 4
                    .tab.u-cf
                        h3 Grade
                        table
                            thead
                                tr
                                    th Name
                                    th Quiz
                                    th Attendance
                                    th Laboratory
                                    th Exam
                                    th Grade
                            tbody
                                tr
                                    td Wizardz
                                    td 3%
                                    td 20%
                                    td 35%
                                    td 32%
                                    td 44%
                                tr
                                    td Xfol
                                    td 3%
                                    td 20%
                                    td 35%
                                    td 32%
                                    td 44%
                                tr
                                    td Nitsuj
                                    td 3%
                                    td 20%
                                    td 35%
                                    td 32%
                                    td 44%
                                tr
                                    td Loda
                                    td 3%
                                    td 20%
                                    td 35%
                                    td 32%
                                    td 44%
                //class view   
                ul.breadcrumb
                    li
                        a(href="") Class Name
                    li.active
                        a(href="") Attendance

                h2.content_title Attendance
                ul.content_view_tabs
                    li.active 1
                    li 2
                    li 3
                    li 4
                .tab.u-cf
                    .btm_2 Add Column
                    span Total: <span>5</span>
                    table
                        thead
                            tr
                                th Name
                                th Quiz
                                th Attendance
                                th Laboratory
                                th Exam
                                th Grade
                        tbody
                            tr
                                td Wizardz
                                td 3%
                                td 20%
                                td 35%
                                td 32%
                                td 44%
                            tr
                                td Xfol
                                td 3%
                                td 20%
                                td 35%
                                td 32%
                                td 44%
                            tr
                                td Nitsuj
                                td 3%
                                td 20%
                                td 35%
                                td 32%
                                td 44%
                            tr
                                td Loda
                                td 3%
                                td 20%
                                td 35%
                                td 32%
                                td 44%