<!DOCTYPE html>
html(lang="en")
    head
        title Teacher Name
    body
        header.blue_header.u-cf
            .container
                .navigation.u-cf
                    a(href="#/").logo Online Grading System
                    nav 
                        ul
                            li
                                a(href="#about") Classes
                            li
                                a(href="#features") Account
                            li
                                a(href="#contact") Log-out
        .row
            .sidebar_nav.two.columns
                ul
                    li
                        a(href="") Attendance
                            img(src="/img/icn_att.png", alt="")
                    li
                        a(href="" ) Students
                            img(src="/img/icn_students.png", alt="")
                    li
                        a(href="" ) Quiz
                            img(src="/img/icn_quiz.png", alt="")
                    li
                        a(href="" ) Assignments
                            img(src="/img/icn_assign.png", alt="")
                    li
                        a(href="" ) Laboratory
                            img(src="/img/icn_lab.png", alt="")
                    li
                        a(href="" ) Exam
                            img(src="/img/icn_exam.png", alt="")
                    li
                        a(href="" ) Settings
                            img(src="/img/icn_settings.png", alt="")
            //Class list view
                .class_list.ten.columns.content_view
                    h2.content_title Your Classes
                    .btn_2 Create New Class
                    table
                        thead
                            tr
                                th.th_col1 Class <img src="/img/icn_student_count.png">
                                th.th_col2 Class Code
                        tbody
                            tr
                                td <img src="/img/icn_book.png"> <a href="">Algebra</a> <a href="" class="student_count">2</a>
                                td 2-3-16-aa
                            tr
                                td <img src="/img/icn_book.png"> <a href="">Science</a> <a href="" class="student_count">3</a>
                                td 2-4-12ab
                            tr
                                td <img src="/img/icn_book.png"> <a href="">SOFTWEN</a> <a href="" class="student_count">5</a>
                                td 3-2-19ac2 
                            tr
                                td <img src="/img/icn_book.png"> <a href="">ADDPROG</a> <a href="" class="student_count">10</a>
                                td 2-2-13aD 
            .content.ten.columns.content_view
                //class view   
                ul.breadcrumb
                    li
                        a(href="") Algebra
                h2.content_title Algebra
                ul.content_view_tabs
                    li.active 1
                    li 2
                    li 3
                    li 4
                .tab.u-cf
                    h4 Grade
                    table
                        thead
                            tr
                                th Name
                                th Quiz
                                th Attendance
                                th Laboratory
                                th Exam
                                th Grade
                        tbody
                            tr
                                td Wizardz
                                td 3%
                                td 20%
                                td 35%
                                td 32%
                                td 44%
                            tr
                                td Xfol
                                td 3%
                                td 20%
                                td 35%
                                td 32%
                                td 44%
                            tr
                                td Nitsuj
                                td 3%
                                td 20%
                                td 35%
                                td 32%
                                td 44%
                            tr
                                td Loda
                                td 3%
                                td 20%
                                td 35%
                                td 32%
                                td 44%
                //Attendance View 
                    ul.breadcrumb
                        li
                            a(href="") Algebra
                        li.active
                            a(href="") Attendance

                    h2.content_title Attendance
                    ul.content_view_tabs
                        li.active 1
                        li 2
                        li 3
                        li 4
                    .tab
                        h4 March 8 2016
                        .tab_top_content
                            .btn_2 Add Column
                            span.total_days Total: <span>5</span>
                            .color_guide
                                span
                                    span.clr_black 
                                    | Good
                                span
                                    span.clr_yellow 
                                    | Warning
                                span
                                    span.clr_drop 
                                    | Drop
                        table.margin_top
                            thead
                                tr
                                    th Name
                                    th 1-2-12 Monday
                                    th 1-2-13 Thuesday
                                    th 1-2-14 Wednesday
                                    th 1-2-15 Thursday
                                    th 1-2-16 Friday
                                    th 1-2-16 Friday
                                    th 1-2-16 Friday
                                    th 1-2-16 Friday
                                    th 1-2-16 Friday
                                    th 1-2-16 Friday
                                    th Total
                            tbody
                                tr
                                    td Wizardz ( 3 )
                                    td 0
                                    td 1
                                    td 1
                                    td 0
                                    td 1
                                    td 1
                                    td 1
                                    td 1
                                    td 1
                                    td 1
                                    td 15
                                tr
                                    td.clr_drop Xfol ( 4 )
                                    td 0
                                    td 1
                                    td 1
                                    td 0
                                    td 1
                                    td 1
                                    td 1
                                    td 1
                                    td 1
                                    td 1
                                    td 15
                                tr
                                    td.clr_warning Nitsuj ( 5 )
                                    td 0
                                    td 1
                                    td 1
                                    td 0
                                    td 1
                                    td 1
                                    td 1
                                    td 1
                                    td 1
                                    td 1
                                    td 15
                                tr
                                    td Loda ( 6 )
                                    td 0
                                    td 1
                                    td 1
                                    td 0
                                    td 1
                                    td 1
                                    td 1
                                    td 1
                                    td 1
                                    td 1
                                    td 15
                //student list view
                    ul.breadcrumb
                        li
                            a(href="") Algebra
                        li.active
                            a(href="") Students

                    h2.content_title Student List
                    .tab.student_tab
                        h4 Algebra / 2-3-16aa
                        table.margin_top
                            thead
                                tr
                                    th Name
                                    th ID
                                    th 
                                        a(href="")
                                            img(src="/img/png_settings.png", alt="")
                            tbody
                                tr
                                    td Wizardz
                                    td 12321
                                    td 
                                        a(href="")
                                            
                                            img(src="/img/png_settings.png", alt="")
                                tr
                                    td Xfol
                                    td 13123
                                    td 
                                         a(href="")
                                            img(src="/img/png_settings.png", alt="")
                                tr
                                    td Nitsuj
                                    td 123213
                                    td 
                                         a(href="")
                                            img(src="/img/png_settings.png", alt="")
                                tr
                                    td Loda
                                    td 123213
                                    td 
                                         a(href="")
                                            img(src="/img/png_settings.png", alt="")
                //quiz, assignment, laboratory view
                    ul.breadcrumb
                        li
                            a(href="") Algebra
                        li.active
                            a(href="") Quiz

                    h2.content_title Quiz
                    ul.content_view_tabs
                        li 1
                        li 2
                        li.active 3
                        li 4
                    .tab
                        h4 
                        .tab_top_content
                            .btn_2 Add Quiz
                            span.total_days Total: <span>60</span>
                        table.margin_top
                            thead
                                tr
                                    th Name
                                    th 1-2-12 Monday
                                        .activity_name activity #1
                                    th 1-2-13 Thuesday
                                        .activity_name activity #1
                                    th 1-2-14 Wednesday
                                        .activity_name activity #1
                            tbody
                                tr
                                    td Wizardz ( 24 )
                                    td 10/10
                                    td 17/20
                                    td 10/15
                                tr
                                    td Xfol ( 27 )
                                    td 10/10
                                    td 17/20
                                    td 10/15
                                tr
                                    td Nitsuj ( 25 )
                                    td 10/10
                                    td 17/20
                                    td 10/15
                                tr
                                    td Loda ( 29 )
                                    td 10/10
                                    td 17/20
                                    td 10/15
                    ul.breadcrumb
                        li
                            a(href="") Algebra
                        li.active
                            a(href="") Assignments
                    h2.content_title Assignments
                    ul.content_view_tabs
                        li 1
                        li.active 2
                        li 3
                        li 4
                    .tab
                        h4
                        .tab_top_content
                            .btn_2 Add Assignments
                            span.total_days Total: <span>90</span>
                        table.margin_top
                            thead
                                tr
                                    th Name
                                    th 1-2-12 Monday
                                        .activity_name activity #1
                                    th 1-2-13 Thuesday
                                        .activity_name activity #1
                                    th 1-2-14 Wednesday
                                        .activity_name activity #1
                            tbody
                                tr
                                    td Wizardz ( 24 )
                                    td 10/10
                                    td 17/20
                                    td 10/15
                                tr
                                    td Xfol ( 27 )
                                    td 10/10
                                    td 17/20
                                    td 10/15
                                tr
                                    td Nitsuj ( 25 )
                                    td 10/10
                                    td 17/20
                                    td 10/15
                                tr
                                    td Loda ( 29 )
                                    td 10/10
                                    td 17/20
                                    td 10/15
                    ul.breadcrumb
                        li
                            a(href="") Algebra
                        li.active
                            a(href="") Laboratory
                    h2.content_title Laboratory
                    ul.content_view_tabs
                        li 1
                        li.active 2
                        li 3
                        li 4
                    .tab
                        h4
                        .tab_top_content
                            .btn_2 Add Laboratory
                            span.total_days Total: <span>120</span>
                        table.margin_top
                            thead
                                tr
                                    th Name
                                    th 1-2-12 Monday
                                        .activity_name activity #1
                                    th 1-2-13 Thuesday
                                        .activity_name activity #1
                                    th 1-2-14 Wednesday
                                        .activity_name activity #1
                            tbody
                                tr
                                    td Wizardz ( 24 )
                                    td 15/15
                                    td 17/20
                                    td 15/15
                                tr
                                    td Xfol ( 27 )
                                    td 15/15
                                    td 17/20
                                    td 15/15
                                tr
                                    td Nitsuj ( 25 )
                                    td 15/15
                                    td 17/20
                                    td 15/15
                                tr
                                    td Loda ( 29 )
                                    td 15/15
                                    td 17/20
                                    td 15/15
                    ul.breadcrumb
                        li
                            a(href="") Algebra
                        li.active
                            a(href="") Exam
                    h2.content_title Exam
                    ul.content_view_tabs
                        li 1
                        li.active 2
                        li 3
                        li 4
                    .tab
                        h4
                        .tab_top_content
                            .btn_2 Add Exam
                        table.margin_top
                            thead
                                tr
                                    th Name
                                    th 1-2-12 Monday
                            tbody
                                tr
                                    td Wizardz
                                    td 15/15
                                tr
                                    td Xfol
                                    td 15/15
                                tr
                                    td Nitsuj
                                    td 15/15
                                tr
                                    td Loda
                                    td 15/15
                //settings view
                    .settings 
                        ul.breadcrumb
                            li
                                a(href="") Algebra
                            li.active
                                a(href="") Settings
                        h2.content_title Settings
                        h4.title_border Class Settings
                        form.row
                            .input_group.row
                                label(for="Class name").four.columns Class Name
                                input(type="text").four.columns  
                                span.four.columns Ex. Algebra 3-A
                            .input_group.row
                                label(for="School Year").four.columns School Year
                                select.four.columns 
                                    option(value="") 2016-2017 
                                span.four.columns The school year   
                        h4 Grade Settings 
                        form.row.u-cf
                            .row
                                .input_group.four.columns
                                    label(for="attendance") Attendance
                                    input(type="number" min="1" max="100")
                                    span  %
                                .input_group.four.columns
                                    label(for="Quiz") Quiz
                                    input(type="number" min="1" max="100")
                                    span  %
                                .input_group.four.columns
                                    label(for="Assignments") Assignments
                                    input(type="number" min="1" max="100")
                                    span  %
                            .row
                                .input_group.four.columns
                                    label(for="Quiz") Laboratory
                                    input(type="number" min="1" max="100")
                                    span  %
                                .input_group.four.columns
                                    label(for="Quiz") Exam
                                    input(type="number" min="1" max="100")
                                    span  %
                            button.u-cf Submit
                //account
                    .accout_settings
                        h2.content_title Accout Settings
                        h4.title_border Edit Account
                        form
                            .input_group.row
                                label(for="Username").three.columns Username
                                input(type="text").four.columns  
                                span.four.columns Choose Username. Letters and Number only
                            .input_group.row
                                label(for="Your name").three.columns Your Name
                                input(type="text").four.columns  
                                span.four.columns Enter Your Full Name
                            .input_group.row
                                label(for="Class name").three.columns Email
                                input(type="email").four.columns  
                                span.four.columns Enter Your Email Address
                            .input_group.row
                                label(for="Class name").three.columns Phone
                                input(type="tel").four.columns  
                                span.four.columns Enter Your Phone Number
                        h4.title_border New Password
                        form
                            .input_group.row
                                label(for="Username").three.columns New Password
                                input(type="password").four.columns  
                                span.four.columns Enter a new password or leave blank to keep the same
                            .input_group.row
                                label(for="Username").three.columns Confirm New Password
                                input(type="password").four.columns  
                                span.four.columns Enter above password or leave blank to keep the same
                            button Submit