<!DOCTYPE html>
html(lang="en" ng-app="projectRouter")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        div( ng-view)
        //scripts
        script(src="/lib/jquery-2.1.4.min.js")
        script(src="/lib/angular.min.js")
        script(src="/lib/angular-route.min.js")
        script(src="/js/appRoute.js")
        script(src="/js/controllers/homeCtrl.js")
        script(src="/js/controllers/teacherCtrl.js")
        script(src="/js/controllers/studentCtrl.js")